html, body {
    height: 100%;
}

.main-container {
    min-height: calc(100% - 112px);
}

.host-table {
    min-width: 30%;
    width: auto;
}

.tick{
    animation-timing-function: linear;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation: tick 1s steps(5, start) infinite;;
}

@keyframes tick {
    0% {opacity:0;}
    50% { opacity:1;}
    100% { opacity:0; }
}
